
// NotoSansKR

@font-face {
	font-family: 'noto_sans_kr_regularregular';
	src: url('assets/fonts/NotoSansKR/notosanskr-regular-webfont.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR/notosanskr-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_sans_krlight';
	src: url('assets/fonts/NotoSansKR/notosanskr-light-webfont.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR/notosanskr-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_sans_krmedium';
	src: url('assets/fonts/NotoSansKR/notosanskr-medium-webfont.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR/notosanskr-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_sans_krbold';
	src: url('assets/fonts/NotoSansKR/notosanskr-bold-webfont.woff2') format('woff2'),
		url('assets/fonts/NotoSansKR/notosanskr-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// NotoSans

@font-face {
	font-family: "notosans_regular";
	src: url('assets/fonts/NotoSans/notosans-regular-webfont.woff2') format('woff2'),
			url('assets/fonts/NotoSans/notosans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "notosans_bold";
	src: url('assets/fonts/NotoSans/notosans-bold-webfont.woff2') format('woff2'),
			url('assets/fonts/NotoSans/notosans-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// AvenirNext

@font-face {
	font-family: 'avenirnext_regular';
	src: url('assets/fonts/AvenirNext/avenirnext-regular.woff2') format('woff2'),
		url('assets/fonts/AvenirNext/avenirnext-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenirnext_bold';
	src: url('assets/fonts/AvenirNext/avenirnext-bold.woff2') format('woff2'),
		url('assets/fonts/AvenirNext/avenirnext-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenirnext_demibold';
	src: url('assets/fonts/AvenirNext/avenirnext-demibold.woff2') format('woff2'),
		url('assets/fonts/AvenirNext/avenirnext-demibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// AvenirLtStd

@font-face {
	font-family: 'avenirltstd_medium';
	src: url('assets/fonts/AvenirLtStd/avenirltstd-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenirltstd_black';
	src: url('assets/fonts/AvenirLtStd/avenirltstd-black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// Montserrat

@font-face {
	font-family: 'montserrat-medium';
	src: url('assets/fonts/Montserrat/montserrat-medium-webfont.woff2') format('woff2'),
		url('assets/fonts/Montserrat/montserrat-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// other

@font-face {
	font-family: 'fascinateregular';
	src: url('assets/fonts/Fascinate/fascinate-regular-webfont.woff2') format('woff2'),
			 url('assets/fonts/Fascinate/fascinate-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
