
$noto-kr-r: "noto_sans_kr_regularregular", sans-serif;
$noto-kr-l: "noto_sans_krlight", sans-serif;
$noto-kr-m: "noto_sans_krmedium", sans-serif;
$noto-kr-b: "noto_sans_krbold", sans-serif;
$noto-r: "notosans_regular", sans-serif;
$noto-b: "notosans_bold", sans-serif;
$avenir-r: "avenirnext_regular", sans-serif;
$avenir-b: "avenirnext_bold", sans-serif;
$avenir-lts-m: "avenirltstd_medium", sans-serif;
$avenir-lts-b: "avenirltstd_black", sans-serif;
$avenir-db: "avenirnext_demibold", sans-serif;
$mont-m: "montserrat-medium", sans-serif;

$fasc: "fascinateregular";

$grey: #a9a8a8;
$dgrey: #767676;
$lgrey: #f2f2f2;
$ldgrey: #c4c4c4;
$yel: #fae925;
$red: #d12229;
$bl: #272626;
$lbl: #525151;
$primary-color: $red;

