.more-info {
	display: flex;
	align-items: center;
	color: $red;
	font: {
		family: $noto-kr-b;
		weight: 600;
	}
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .3s;

	&::before {
		transition: background .3s;
		display: inline-block;
		content: "";
		width: 8px;
		height: 8px;
		background-color: $red;
		margin: {
			top: 1px;
			right: 20px;
		}
	}

	&:hover{
		color: $bl;

			&:before{
				background-color: $bl;
			}
	}
}